# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# =====================
# Streamlit
# =====================
.streamlit/secrets.toml

# =====================
# OS / Editor junk
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Logs & temp files
# =====================
*.log
*.tmp