# --- Secrets & Environment ---
.env
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
env/
.venv/
opt/
# Since you're using Miniconda/Anaconda, ignore local conda installs
conda-env/

# --- IDE Settings ---
.vscode/
.idea/
.DS_Store

# --- Streamlit ---
.streamlit/config.toml